@import (inline) '../../node_modules/rc-tree/dist/rc-tree.css';
.ModConnectApiBrowserC {
    .greylabel {
        color: #aaa;
        font-size: smaller;
        margin: 0 7px;
    }
    .redhighlight {
        text-transform: uppercase;
        color: #f00;
        border: 1px solid #f00;
        font-size: smaller;
        padding: 2px;
        margin: 0 15px;
    }
    .glyphicon.spinning {
        animation: spin 1s infinite linear;
        -webkit-animation: spin2 1s infinite linear;
    }
    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1) rotate(360deg);
        }
    }
    @-webkit-keyframes spin2 {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    .text-right {
        text-align: right;
    }
    .red {
        color: #f00;
    }
    .listoptions {
        padding: 6px 20px;
        font-weight: bold;
        span {
            padding: 4px 6px;
        }
    }
    .rc-tree {
        li {
            .rc-tree-node-content-wrapper {
                height: auto;
                padding: 0 6px;
            }
            .rc-tree-node-selected {
                color: #fff;
                background-color: rgb(0, 80, 197);
                border: none;
            }
        }
    }
}